# Ratings Predictor - Project Group 6
Gillian Foster, Tristan Hsieh, Yulissa Montes, Ezra Rebollar

April 19, 2019 

50395

In [103]:
import warnings
warnings.simplefilter("ignore")
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import time

### Step One: Organizing the Data

The data collected from https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/TVYEGI is divided into six CSV files. Here, the data is collected into a single set and widdled into the relevant features.

In [104]:
attributes = pd.read_csv("attributes.csv")
print(attributes.isnull().sum())
ratings_mean = pd.read_csv("ratings_mean.csv")
print(ratings_mean.isnull().sum())
ratings_all = pd.read_csv("ratings_all.csv")
print(ratings_all.isnull().sum())
track_info = pd.read_csv("trackinfo.csv")
print(track_info.isnull().sum())

AttributeID      0
AttributeName    0
dtype: int64
TrackID        0
Valence        0
Arousal        0
Tension        0
Atmospheric    0
Happy          0
Dark           0
Sad            0
Angry          0
Sensual        0
Sentimental    0
dtype: int64
UserID         0
TrackID        0
Rating         0
AttributeID    0
dtype: int64
TrackID         0
LastfmID        0
Artist          0
Title           0
URL             0
SpotifyURL      0
ClipStart(s)    0
ClipEnd(s)      0
dtype: int64

There is no null data in the selected dataset.

Some data, like clip start and end times, is more useful when consolidated. ClipLength and TitleLength are both derived features.

In [105]:
track_info['TitleLength'] = track_info['Title'].str.len()
track_info['ClipLength'] = track_info["ClipEnd(s)"] - track_info["ClipStart(s)"]
track_info = track_info.drop(['LastfmID', 'URL', 'SpotifyURL','ClipStart(s)', 'ClipEnd(s)', 'Title'], axis=1)
track_info.head(10)

   TrackID              Artist  TitleLength  ClipLength
0        1            Autechre            4      14.875
1        2       Lalo Schifrin           23      29.925
2        3           Daft Punk           11      14.875
3        4          Portishead           10      29.925
4        5  The Rolling Stones           13      29.925
5        6        Tindersticks           16      29.925
6        7      FischerSpooner           16      14.875
7        8       Horace Silver           23      29.950
8        9       Janet Jackson           24      14.875
9       10          Chet Baker           25      29.925

The AttributeIDs in ratings_all are replaced with the referenced Attribute.

In [106]:
attributes = attributes.set_index('AttributeID')
attributesDict = attributes.to_dict()
attributesDict = attributesDict['AttributeName']

In [115]:
ratings_all = ratings_all.replace({'AttributeID': attributesDict})
ratings_all = ratings_all.rename(columns={'AttributeID' : 'Attribute'})
ratings_all.head(10)

   UserID  TrackID  Rating    Attribute
0       1      272       6        Happy
1       1      272       2         Dark
2       1      272       3          Sad
3       1      272       2        Angry
4       1      272       7      Sensual
5       1      272       6  Sentimental
6       1      272       4      Arousal
7       1      272       6      Valence
8       1      272       3      Tension
9       1      272       7  Atmospheric

In [127]:
data_ratings = ratings_all.merge(track_info, on='TrackID')
data_ratings.head(15)

    UserID  TrackID  Rating    Attribute      Artist  TitleLength  ClipLength
0        1      272       6        Happy  Efterklang            8      14.875
1        1      272       2         Dark  Efterklang            8      14.875
2        1      272       3          Sad  Efterklang            8      14.875
3        1      272       2        Angry  Efterklang            8      14.875
4        1      272       7      Sensual  Efterklang            8      14.875
5        1      272       6  Sentimental  Efterklang            8      14.875
6        1      272       4      Arousal  Efterklang            8      14.875
7        1      272       6      Valence  Efterklang            8      14.875
8        1      272       3      Tension  Efterklang            8      14.875
9        1      272       7  Atmospheric  Efterklang            8      14.875
10       3      272       2        Happy  Efterklang            8      14.875
11       3      272       3         Dark  Efterklang            8      14.875
12       3      272       7          Sad  Efterklang            8      14.875
13       3      272       2        Angry  Efterklang            8      14.875
14       3      272       3      Sensual  Efterklang            8      14.875

In [116]:
data_means = track_info.merge(ratings_mean, on='TrackID')
data_means = data_means.drop(['TrackID'], axis=1)
data_means.head(10)

,Artist,TitleLength,ClipLength,Valence,Arousal,Tension,Atmospheric,Happy,Dark,Sad,Angry,Sensual,Sentimental
0,Autechre,4,14.875,3.7000,5.2414,7.3000,4.6667,2.4667,5.7333,3.0690,4.5172,2.2667,1.8000
1,Lalo Schifrin,23,29.925,7.6786,6.9286,3.7500,4.6786,7.1429,1.4074,1.8929,1.3929,2.4286,2.8571
2,Daft Punk,11,14.875,6.6897,2.1333,2.6000,7.2000,4.8966,2.2000,3.0345,1.2333,5.1333,4.1000
3,Portishead,10,29.925,4.1000,3.9333,5.1667,6.4667,2.4333,5.3333,5.9000,2.8621,6.0000,5.6333
4,The Rolling Stones,13,29.925,6.0345,3.8276,4.3793,5.4483,4.6667,2.2222,2.6897,2.6897,3.6786,4.1071
5,Tindersticks,16,29.925,5.8148,3.0714,3.5357,6.3793,3.8276,3.0000,5.3793,1.6897,4.6552,5.7586
6,FischerSpooner,16,14.875,4.4828,6.2000,6.4667,4.0345,3.4138,4.3667,3.7000,3.3333,2.3793,2.6667
7,Horace Silver,23,29.950,5.9310,5.4138,4.5517,5.6207,4.3214,2.0741,4.0000,1.8077,3.7931,3.3929
8,Janet Jackson,24,14.875,6.9310,7.2500,4.1786,4.6207,6.5517,1.6552,2.4138,1.6552,4.5000,3.9286
9,Chet Baker,25,29.925,5.3929,1.9643,2.8276,7.2069,2.7586,3.4138,5.7586,1.5862,6.0345,5.7586

### Step Two: Exploring the Data

Now combined into a single set, this explores some patterns in the data.